@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Quicksand', sans-serif;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #091921;
}

body::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(#e91e63,#ffc107);
   clip-path: circle(22% at 30% 20%);
   animation:20s linear 0s infinite alternate move_red_circle;
}

@keyframes move_red_circle{
   from{
      clip-path: circle(22% at 30% 20%);
   }
   to{
      clip-path: circle(30% at 70% 20%);
   }
}

body::after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(#ffffff,#da00ff);
   clip-path: circle(22% at 70% 90%);
   animation: 10s ease-in 0s infinite alternate scale_purple_circle;
}

@keyframes scale_purple_circle{
   from{
      clip-path: circle(15% at 70% 90%);

   }
   to{
      clip-path: circle(30% at 70% 90%);
   }
}

.container{
   position:relative;
   background: rgba(255, 255, 255, 0.05);
   border-radius: 6px;
   overflow: hidden;
   flex-shrink: 0;
   
   margin-left: 120px;
   z-index: 10;
   backdrop-filter: blur(15px);
   border-top: 2px solid rgba(255, 255, 255, 0.2);
   border-left: 2px solid rgba(255, 255, 255, 0.2);
   box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.05);
}

.container .calculator{
   position: relative;
   display: grid;
   
}

.container .calculator .value{
   grid-column: span 4;
   height: 140px;
   width: 300px;
   text-align: right;
   border: none;
   outline: none;
   padding:10px;
   font-size: 30px;
   background: transparent;
   color: white;
   border-bottom: 1px solid rgba(255, 255, 255, 0.05);
   border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.container .calculator span{
   display:grid;
   height: 75px;
   width: 75px;
   color:white;
   place-items: center;
   font-weight: 400;
   cursor:pointer;
   transition: 0.5s;
}

.container .calculator span:hover{
   transition: 0s;
   background: rgba(255, 255, 255, 0.05);
}

.container .calculator span:active{
   background-color: rgba(46, 139, 87,0.7);
   font-size: 24px;
   font-weight: 900;
}

.container .calculator .clear {
   grid-column: span 2;
   width: 150px;
   border: 1px solid white;
}

.container .calculator .equal{
   grid-column: span 2;
   width: 150px;
   background-color:rgba(0,0,0,0.3);
}

.buttons--container {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top:500px;
   left: 30px;
   flex-direction: column;
   margin-left: 50px;
   
}

.btn:hover, .btn:focus {
   transform: scale(1.1);
   color: white;
   border-color: currentColor;
   outline: 0 !important;
}

.btn{
   width: 200px;
   height: 50px;
   border-radius: 10px;
   background-color:#091921;
   border: 1px solid white;
   font-size: 20px;
   color: white;
   cursor: pointer;
   transition: all 0.5s;
   outline: none;
   transform: scale(1) ;
}

.btn-off{
   margin-bottom: 20px;
}

.btn-off:hover{
   background: #e91e63;
}

.btn-on:hover{
   background-color: rgba(46, 139, 87,0.7);
}

@media(max-width:770px){
   .buttons--container{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top:500px;
      left: 30px;
      flex-direction: column;
      margin-left: -30px;
   }

}